@import url(https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular);


@font-face {
    font-family: "BMWTypeNext Pro Regular";
    src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot");
    src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro Regular")format("svg");
}


body{
    background-image: radial-gradient(#2f3d40,#272f32 ,#232323 );
}


.topbar {
    display: flex;
    background-color: #232323;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;




}
.topbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 0;
}


.topbar a:hover {
    background-color: #ddd;
    color: black;
}






#trims{
    margin-top: 3%;
    color: white;
}


#trim-buttons{
    color: white;
    font-family: "BMWTypeNext Pro Regular", serif;
}


#colors
{
    margin-top:5%;
    color:white;
}


#color-buttons{
    color:white;
}
#BMW2{
    padding-top:2.3%;
    border-radius: 12px;
}


#options{
    margin-top: 5%;
    color: white;
}
#option-buttons{
    color: white;
    font-family: "BMWTypeNext Pro Regular", serif;
}


#dodge-addcart{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    left: 50%;
    border-radius: 12px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 5% 2px 4px;


}

